header {
	background-color: #156299;
}

body {
	background-color: #FFFFFF;
	font-family:Arial, Helvetica, sans-serif;

}

article {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

#fruit {
	grid-column: 1/2;
	grid-row: 1/2;
}

#non_fruit {
	grid-column: 2/3;
	grid-row: 1/2;
}

#sugar_free_flavors {
	grid-column: 3/4;
	grid-row: 1/2;
}

#drink_combos {
	grid-column: 4/5;
	grid-row: 1/2;
}

#top {
	text-align: center;
	text-transform: uppercase;
	background-color: #DA262E;
}

#syrups {
	grid-column: 2/3;
	grid-row: 2/3;
}

#windmill {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}

#home_link {
	text-align: center;
}
